    * {
        margin: 0px;
        padding: 0px;
    }

    .main_login {
        margin: 0;
        padding: 0;
        background-image: url('/public/transparent-logo.png');
        /* Relative to public folder */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
    }

    .form_login {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.85);
        border: 2px solid black;
        border-radius: 10px;
    }

    .formheading_login {
        font-size: 35px;
        font-weight: bold;
    }

    .item_login label {
        font-size: 25px;
    }

    .item_login input {
        font-size: 18px;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .form_login button {
        font-size: 20px;
        padding: 2px 15px;
        border-radius: 10px;
    }